<head>

	<title>{{ .Title }}{{ if not .IsHome }} ⚖️ #SJMD 🚫{{end}}</title>
	<link rel="stylesheet" href="/css/main-dist.css" />

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="article:author" content="Sam Killermann">
	<meta property="description" content="{{- if .Params.description }}{{ . }}{{ else }}Started by Sam Killermann, charting a path toward equity.{{ end -}}">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
	<link rel="manifest" href="/img/site.webmanifest">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#67c2e7">
	<link rel="shortcut icon" href="/img/favicon.ico">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="msapplication-config" content="/img/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	{{ partial "seo.html" . }}

	{{ template "_internal/twitter_cards.html" . }}

	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="Social Justice, Minus Dogma">
	<meta property="og:description" content="A six-week online course + community charting a path toward equity. Started by Sam Killermann. Led by you.">
	<meta property="og:url" content="https://www.sjmd.space{{ .Permalink }}">
	<meta property="og:image" content="https://www.sjmd.space/img/og-image.png">

</head>
