<div class="pv5 pv6-l ph3 bg-center tc cover mask-blue" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center z-3 relative ph3 white">
    <div class="db mb3">
      <div class="mw7 relative mb3">
        <h1 class="f3 f2-m f1-l b di lh-solid mb3 mw6">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative ">
        {{ if .subtitle }}
        <p class="f4 di b lh-title mb3 blue-500 mw6">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
