<nav id="main-nav" class="flex justify-between items-center bg-white">

	<!-- Primary Nav -->
	<ul class="flex">
		<li><a href="https://www.sjmd.space/#how-it-works" class="pa2 white no-underline">How it Works</a></li>

        <li><a href="https://www.sjmd.space/#course-details" class="pa2 white no-underline">Details</a></li>

		<li><a href="https://www.sjmd.space/#faq" class="pa2 white no-underline">FAQ</a></li>
	</ul>

	<div>
		<a href="https://sjmd.memberful.com/auth/sign_in" title="Sign In" class="pv2 ph1 yellow-300 no-underline">
			Sign In
		</a>

	    <a href="https://www.sjmd.space/join/#sign-up" title="Sign up now" class="btn cta">
	        Join now.
	    </a>
	</div>

</nav>
