.btn {
  display: inline-block;
  padding: 1em 2em;
  line-height: 1.25;
  background: none;
  border-radius: 999px;
  border: 4px dashed var(--blue-500);
  text-decoration: none;
  font-weight: var(--bold-font-weight);
  color: var(--blue-700);
  text-align: center;
  -webkit-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  transition: var(--hover-transition); }

.btn.cta {
  background: var(--yellow-500);
  border-style: dotted;
  border-color: var(--yellow-300);
  color: var(--yellow-900); }

.btn.cta:hover, .btn.cta:focus {
  border-color: white; }

.btn:hover, .btn:focus {
  border-style: solid;
  -webkit-box-shadow: 0px 0.3em 0.6em rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0.3em 0.6em rgba(0, 0, 0, 0.3); }
