/* Text colors */
.primary {
  color: var(--primary); }

.highlight {
  color: var(--highlight); }

.white {
  color: var(--white); }

.off-white {
  color: var(--off-white); }

.yellow-300 {
  color: var(--yellow-300); }

.grey-1 {
  color: var(--grey-1); }

.grey-2 {
  color: var(--grey-2); }

.grey-3 {
  color: var(--grey-3); }

.grey-4 {
  color: var(--grey-4); }

.blue-100 {
  color: var(--blue-100); }

.blue-300 {
  color: var(--blue-300); }

.blue-500 {
  color: var(--blue-500); }

.blue-700 {
  color: var(--blue-700); }

.blue-900 {
  color: var(--blue-900); }

.black {
  color: var(--black); }

.bg-primary {
  background-color: var(--primary); }

.bg-blue-100 {
  background-color: var(--blue-100); }

.bg-blue-300 {
  background-color: var(--blue-300); }

.bg-highlight {
  background-color: var(--highlight); }

.bg-white {
  background-color: var(--white); }

.bg-off-white {
  background-color: var(--off-white); }

.bg-grey-1 {
  background-color: var(--grey-1); }

.bg-grey-2 {
  background-color: var(--grey-2); }

.bg-grey-3 {
  background-color: var(--grey-4); }

.bg-grey-4 {
  background-color: var(--grey-4); }

.bg-black {
  background-color: var(--black); }

.bg-fix-primary {
  padding: 0 var(--spacing-small); }
  .bg-fix-primary :first-child {
    -webkit-box-shadow: var(--spacing-small) 0 0 var(--primary), -var(--spacing-small) 0 0 var(--primary);
    box-shadow: var(--spacing-small) 0 0 var(--primary), -var(--spacing-small) 0 0 var(--primary); }
