img {
  max-width: 100%;
}

.icon {
    width: 1em;
    height: 1em;
}

    .icon.icon-lg {
        width: 1.5em;
        height: 1.5em;
        margin-top: -.25em;
    }

    .icon.icon-2x {
        width: 2em;
        height: 2em;
        margin-top: -.5em;
    }
