::-moz-selection {
  background-color: var(--highlight); }

::selection {
  background-color: var(--highlight); }

/* Used in the navbar */
.divider-grey {
  -webkit-box-shadow: inset 0 -4px 0 var(--grey-1);
  box-shadow: inset 0 -4px 0 var(--grey-1);
  /* Link hover states */ }
  .divider-grey a {
    -webkit-transition: var(--hover-transition);
    -o-transition: var(--hover-transition);
    transition: var(--hover-transition); }
  .divider-grey ul a:hover, .divider-grey ul a:focus {
    -webkit-box-shadow: inset 0 -4px 0 var(--primary);
    box-shadow: inset 0 -4px 0 var(--primary); }
