{{ define "main" }}
<section class="hero center pa5">
    <h1 id="top" class="f3 center f2-ns f1-m tc mt3 lh-solid">
        <span class="f4 db">
            <img alt="justice scales icon" src="/img/icons/sjmdicon-justice.svg" alt="Scales of Justice" aria-hidden="true" class="icon tilt-left"> Social Justice, <strong>Minus Dogma <img alt="canceled out scroll icon" src="/img/icons/sjmdicon-minus-dogma.svg" aria-hidden="true" class="icon"> </strong>
        </span>
        <strong class="db">Online Course <img alt="Desktop Computer" src="/img/icons/sjmdicon-desktop.svg" aria-hidden="true" class="icon tilt-right"></strong>
    </h1>
</section>
<section class="hero ma0 center grid">

    <div class="grid-item-wide br1">
        <img src="/img/john-schnobrich-unsplash.jpg" alt="Three people sitting in front of a laptop pointing at the screen" class="hero-image center">
    </div>
    <div class="grid-item ph3 br1 flex flex-column justify-around">
        <div>
            <h2 class="f4 f3-ns b lh-solid mb2">6 Modules. 6 Weeks. Forever Community.</h2>
            <p>Each module has a different theme, materials to read, watch, and listen to, and fieldwork to put what you're learning into action. Plus a live community for support and discussion.</p>
        </div>
        <div class="tc">
            <a href="https://www.sjmd.space/join/#sign-up" class="btn cta db" title="Join the Course Now">Join Now.</a>
            <a href="https://www.sjmd.space" class="pa2 db" title="Learn More">Learn More.</a>
        </div>
    </div>


    <div class="grid-item bg-blue-100 pa3 br1 flex items-center">
        <div>
            <h3 class="b f4 lh-solid mb1">Are you already enrolled in the course?</h3>
            <p class="mb0">If so, check your email for links to Orientation and Module 1. If you don't see an email, it's probably in your spam folder. It will be from team@sjmd.space.</p>
        </div>
    </div>
    <div class="grid-item-wide br1">
        <img src="/img/stil-unsplash.jpg" alt="Person opening notebook in front of laptop" class="hero-image center">
    </div>

</section>

{{ end }}
