{{ define "main" }}
<section class="hero center pa3">
    <h1 id="top" class="f3 center f2-ns f1-m tc pa4 mb7 mb0-m lh-solid">
        <span class="f4 db">
            <img alt="justice scales icon" src="/img/icons/sjmdicon-justice.svg" alt="Scales of Justice" aria-hidden="true" class="icon tilt-left"> Social Justice, <strong>Minus Dogma <img alt="canceled out scroll icon" src="/img/icons/sjmdicon-minus-dogma.svg" aria-hidden="true" class="icon"> </strong>
        </span>
        <strong class="db">Online Course <img alt="Desktop Computer" src="/img/icons/sjmdicon-desktop.svg" aria-hidden="true" class="icon tilt-right"></strong>
    </h1>
</section>
<section class="hero mb7 mb5-m center" id="how-it-works">
    

</section>

{{ end }}
