{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<section id="sign-up">
    <div class="center pa7 pa5-m">
        <h2 class="f4 f3-m f2-l lh-solid mb7 mb5-m">Get started <strong>in 3 steps.</strong></h2>
        <p class="center relative pl4 mb4">
            <strong class="f3 f2-m lh-solid w-10 tc absolute top-0 left--2 blue-500">1.</strong>
            <strong class="f5 f4-m db lh-solid">Make sure you're ready to dive in.</strong><br/>  We will do everything we can to welcome you and make this a meaningful, powerful experience, but we need your help. This isn't your standard online course, it's <a class="link" href="{{ .Site.BaseURL }}#not-for-everyone" title="Ready about how this is not for everyone">not for everyone</a>, and getting acquainted with <a  class="link" href="{{ .Site.BaseURL }}#how-it-works" title="Ready about how it works">how it works</a> will help ease your transition.
        </p>

        <p class="center relative pl4 mb4">
            <strong class="f3 f2-m lh-solid w-10 tc absolute top-0 left--2 blue-500">2.</strong>
            <strong class="f5 f4-m db lh-solid">Choose the tuition amount that is right for you.</strong><br/> You'll be charged the amount you select once a week for six weeks total (at which point payments will automatically stop). If you want guidance, here's our suggestion: choose a value that feels like a commitment, but also amounts to a total you can comfortably afford.
        </p>

        <p class="center relative pl4 mb4">
            <strong class="f3 f2-m lh-solid w-10 tc absolute top-0 left--2 blue-500">3.</strong>
            <strong class="f5 f4-m db lh-solid">Create an account and start participating.</strong><br/> The same account (email address + password) will be used to access the Course and the Community. Your full name and email will be securely protected and not shared within the community.
        </p>

        <p class="center tc">
            <strong>Scroll down to <span class="bg-highlight">get started</span> 👇</strong>
        </p>
    </div>
</section>

<section id="choose-tuition" class="hero tc w-96 center mb2">
    <div class="hero-image bg-blue-100 pa4">
        <h2 class="f4 f3-m f2-l lh-solid mb3">Choose Your <strong>Weekly Tuition</strong></h2>
        <ul class="tuition-options">
            <!-- <li class="tuition-option">
                <a class="tuition-button">Coming Soon.</a>
            </li>
            <li class="tuition-option pa2">
                <a href="https://mailchi.mp/970acc41bb9c/social-justice-minus-dogma" title="Join the mailing list">Join the Mailing List</a>
            </li> -->
            <li class="tuition-option more-options">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=37162" title="Pay $1 per week">$1</a>
            </li>
            <li class="tuition-option more-options">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=37910" title="Pay $3 per week">$3</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=37996" title="Pay $7 per week">$7</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=37997" title="Pay $12 per week">$12</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=37998" title="Pay $23 per week">$23</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=37999" title="Pay $35 per week">$35</a>
            </li>
            <li class="tuition-option">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=38000" title="Pay $50 per week">$50</a>
            </li>
            <li class="tuition-option more-options">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=38001" title="Pay $75 per week">$75</a>
            </li>
            <li class="tuition-option more-options">
                <a class="tuition-button" href="https://sjmd.memberful.com/checkout?plan=38002" title="Pay $100 per week">$100</a>
            </li>
        </ul>
    </div>
    <button id="show-more-options" class="f6 pa1 bg-grey-1" onclick="showMoreTuitionOptions()">More Options</button>

    <a href="/pay-more" id="pay-more" target="_blank" class="dn pa1 f6">
        I want to pay more.
    </a>

    <a href="/cannot-pay" id="pay-less" target="_blank" class="dn pa1 f6">
        I cannot pay, but want to participate.
    </a>
</section>


<script type="text/javascript">

  window.MemberfulOptions = {site: "https://sjmd.memberful.com"};

 (function() {
    var s   = document.createElement('script');

    s.type  = 'text/javascript';
    s.async = true;
    s.src   = 'https://d35xxde4fgg0cx.cloudfront.net/assets/embedded.js';

    setup = function() { window.MemberfulEmbedded.setup(); }

    s.addEventListener("load", setup, false);

    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();


  // Add more tuition price options

  function showMoreTuitionOptions() {
    var tuitionOptions = document.querySelectorAll(".tuition-option.more-options");
    var button = document.getElementById("show-more-options");
    var lessButton = document.getElementById("pay-less");
    var moreButton = document.getElementById("pay-more");

    [].forEach.call(tuitionOptions, function(el) {
        el.classList.remove("more-options");
    });

    button.classList.add("dn");
    lessButton.classList.remove("dn");
    moreButton.classList.remove("dn");
    lessButton.classList.add("dib");
    moreButton.classList.add("dib");
  }

</script>

{{ end }}
